<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    <div class="wrapper">
      <div class="main-sidebar__icon u-text-accent" sidebar-toggle
      id="main-sidebar-icon">
        <span class="sidebar__icon-text">Menu</span>
      </div>

      {% if page.layout == 'post' %}
        <a href="/"
        id="post-logo"
        class="logo logo--post logo--fixed">
          <img class="logo__image"
          src="/images/logo.png">
        </a>
      {% endif %}

      {% if page.layout != 'post' %}
        <div class="main main--fixed"
        id="main">
          <div class="main__wrapper">
            <div class="main__details{% if page.title and page.layout != 'category' %} main__details--page{% endif %}">
              <a href="/"  class="logo">
                <img class="logo__image"
                src="/images/logo.png">
              </a>

              <p class="main__text">
                 
                Bespoke <a href="/music">music</a> & <a href="/sound">sound design</a><br/>
                for <a href="/shorts">shorts</a>, <a href="/ads">ads</a>, <a href="/interactive">interactive stuff</a>,<br/>
                educational or <a href="/commercial">commercial</a>…<br>
                most <a href="anything">anything</a> & <a href="everything">everything</a>!<br>
              </p>

              <div class="client-logos">
                <img class="client-logos__image client-logos__image--portrait"
                src="/images/client-logos.png">

                <img class="client-logos__image client-logos__image--landscape"
                src="/images/client-logos-landscape.png">
              </div>
              <div class="main__socials">
                <a class="main__social-icon-link" href="http://instagram.com/skillbard" target="_blank">
                  <img class="main__social-icon" src="/images/socials/ig.jpg">
                </a>
                <a class="main__social-icon-link" href="http://skillbard.bandcamp.com" target="_blank">
                  <img class="main__social-icon" src="/images/socials/bc.jpg">
                </a>
                <a class="main__social-icon-link" href="http://facebook.com/skillbard" target="_blank">
                  <img class="main__social-icon" src="/images/socials/fb.jpg">
                </a>
                <a class="main__social-icon-link" href="http://twitter.com/skillbard" target="_blank">
                  <img class="main__social-icon" src="/images/socials/tw.jpg">
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="site"
      id="site">
        {% if page.layout != 'post' %}
          <div class="main main--static">
            <div class="main__wrapper">
              <div class="main__details{% if page.title and page.layout != 'category' %} main__details--page{% endif %}">
                <a href="/" class="logo">
                  <img class="logo__image"
                  src="/images/logo.png">
                </a>

                <p class="main__text">
                  Memorable bespoke music & sound design<br/>
                  for animation, ads, games... you name it
                </p>

                <div class="client-logos">
                  <img class="client-logos__image client-logos__image--portrait"
                  src="/images/client-logos.png">

                  <img class="client-logos__image client-logos__image--landscape"
                  src="/images/client-logos-landscape.png">
                </div>

                <div class="main__socials">
                  <a class="main__social-icon-link" href="http://instagram.com/skillbard" target="_blank">
                    <img class="main__social-icon" src="/images/socials/ig.jpg">
                  </a>
                  <a class="main__social-icon-link" href="http://skillbard.bandcamp.com" target="_blank">
                    <img class="main__social-icon" src="/images/socials/bc.jpg">
                  </a>
                  <a class="main__social-icon-link" href="http://facebook.com/skillbard" target="_blank">
                    <img class="main__social-icon" src="/images/socials/fb.jpg">
                  </a>
                  <a class="main__social-icon-link" href="http://twitter.com/skillbard" target="_blank">
                    <img class="main__social-icon" src="/images/socials/tw.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="content"
          id="content">
            {% if page.layout == 'default' %}
              {% if paginator.previous_page_path %}
                <a href="{{ paginator.previous_page_path }}"
                class="tile">
                  <div class="tile__wrapper">
                    <img src="/images/placeholder.gif">
                    <div class="tile__overlay tile__overlay--category tile__overlay--pagination-link">
                      <div class="tile__overlay-text">
                        &larr; Previous page<br>
                      </div>
                    </div>
                  </div>
                </a>
              {% endif %}

              {{ page.title }}

              {% for post in site.posts %}
                {% if post.category contains "showcase" %}
                  {% include tile.html %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if page.layout == 'category' %}
              {{ content }}
            {% endif %}

            {% if page.layout == 'page' %}
              {{ content }}
            {% endif %}
          </div>
        {% endif %}

        {% if page.layout == 'post'%}
          <div class="content content--post"
          id="content">
            <a href="/" class="logo logo--post logo--static">
              <img class="logo__image"
              src="/images/logo.png">
            </a>

            {{ content }}
          </div>
        {% endif %}
      </div>

      <div class="sidebar"
      id="sidebar">
        <div class="sidebar__icon u-text-accent" sidebar-toggle
        id="sidebar-icon">
          <span class="sidebar__icon-text">Close</span>
        </div>

        <h4 class="u-text-accent">Categories</h4>

        <ul>
          {% for category in site.categories %}
            {% if site.sidebar_categories contains category[0] %}
              <li>
                <a class="u-link"
                href="/{{ category[0] }}">
                  {{ category[0] | capitalize }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        —

        <ul>
          <li>
            <a class="u-link"
            href="/">
              Home
            </a>
          </li>

          {% for page in site.pages %}
            {% if page.title and page.layout != 'category' %}
              <li>
                <a class="u-link"
                href="{{ page.url }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}

          <li>
            <a class="u-link"
            href="https://mailchi.mp/2325fb6eec4a/oofa40kydk" target="_blank">Mailing List</a>
          </li>

          <li>
            <a class="u-link"
            href="http://skillbard.tumblr.com" target="_blank">Blog</a>
          </li>
        </ul>


          —

          <ul>
          <li>
            <a class="u-link"
            href="mailto://hello@skillbard.com">hello@skillbard.com</a>
          </li>
        </ul>
      </div>
    </div>

    {% if site.safe == 'true' %}
      <script src="/assets/main.js"></script>
    {% else %}
      {% javascript main %}
    {% endif %}
  </body>
</html>
