<!DOCTYPE html>

<html>
  {% include head.html %}

  <body>
    <div class="wrapper">
      <div class="site"
      id="site">
        {% if page.layout != 'post' %}
          <div class="main"
          id="main">
            <div class="main__wrapper">
              <div class="main__details{% if page.title and page.layout != 'category' %} main__details--page{% endif %}">
                <div class="logo">
                  <img class="logo__image"
                  src="/images/logo.png">
                </div>

                <p class="main__text">
                  New site coming soon —
                  <a href="http://skillbard.tumblr.com">
                    check out our work here
                  </a>
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% if site.safe == 'true' %}
      <script src="/assets/main.js"></script>
    {% else %}
      {% javascript main %}
    {% endif %}
  </body>
</html>
